

html { height: 100%; overflow: hidden; }
body { background: black; margin: 0; width: 100%; height: 100%; }

.scene {
  width: 480px;
  height: 640px;
  padding: 90px 0;
  margin: 0 auto;
  perspective: 2000px;
  overflow: hidden;
}
.book {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
}
.page {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 0.5s transform;
  transform-style: preserve-3d;   
  transform-origin: left center;
  cursor: pointer;
  color: black;
  z-index: 0;
  opacity: 0;
  &:last-child {
    transform: none !important;
  }
}

.page.active + .page {
  opacity: 1;
}
.front,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  backface-visibility: hidden;
  
}

.back {
  transform: rotateY(180deg);
}

.page.active {
  z-index: 1;
  opacity: 1;
}

.page.flipped {
  transform: rotateY(-180deg);
  z-index: 2;
  opacity: 1;
}

.page.flipped:last-of-type {
  z-index: 1;
}

p {
  width: 100%;
  height: 100%;
  max-width: 480px;
  max-height: 640px;
  margin: 0;
  position: relative;
  img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}

.page-process__list {
    width: 100%;
    height: 14px;
    padding-top: 5px;
    position: relative;
    display: flex;
    .page-process__item {
        flex: 1;
        background: transparent;
        &.item-active {
            height: 8px;
            background: green;
            border-radius: 3px;
        }
    }
}

.vertical-dot {
    padding: 0 6px;
    position: fixed;
    top: 50%;
    right: -10px;
    transform: translateX(-50%);
    z-index: 1;
    background: #111;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;

    .dot-inner {
        width: 5px;
        height: 5px;
        border-radius: 50px;
        background: #fff;
        margin: 10px auto;
        transition: all 1s ease-in-out;
        &.dot-active {
            width: 10px;
            height: 10px;
            background: green;
        }
    }
}